.welcome {
  height: 50vh;
}
.welcome h1 {
  text-align: center;
}
.courses h2 {
  padding-top: var(--spacing-large);
}
.courses h2,
.courses .main-paragraph {
  text-align: center;
}
.courses h2,
.courses .main-paragraph,
.courses .courses-container {
  margin-bottom: var(--spacing-large);
}

.courses .courses-container {
  display: flex;
  flex-wrap: wrap;
}
.courses .course-wrapper {
  width: calc(100% / 3);
  padding-right: var(--spacing-small);
  padding-left: var(--spacing-small);
}
.courses.main-paragraph {
  padding-right: var(--spacing-small);
  padding-left: var(--spacing-small);
}
.courses .course {
  width: 100%;
  border: 1px solid #ddd;
  padding: var(--spacing-tiny);
  border-radius: 5px;
  margin-bottom: var(--spacing-medium);
}
.courses .presentation-class {
  width: 100%;
  height: auto;
  margin-bottom: var(--spacing-large);
}
@media (max-width: 992px) {
  .courses .course-wrapper {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .courses .course-wrapper {
    width: 100%;
  }
}
